:root {
  --primary-font-family: Open Sans, sans-serif;
  --secondary-font-family: Raleway, sans-serif;
  --primary-text-color-theme-dark: #9da4bd;
  --primary-text-color-theme-light: #555555;
  --secondary-text-color-theme-dark: #ffffff;
  --secondary-text-color-theme-light: #303030;
  --text-color-hero-overtitle: rgba(157, 164, 189, 0.6);
  --accent-color: #ff6c00;
  --secondary-background-color: #f7f7f7;
}
body {
  font-family: var(--primary-font-family);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* =======start components====== */
.section {
  padding-top: 130px;
  padding-bottom: 130px;
}
.modal-btn {
  min-width: 160px;
  padding: 12px 16px;

  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 25px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  cursor: pointer;

  /* color: var(--secondary-text-color-theme-dark); */
}
.modal-btn.light {
  color: var(--secondary-text-color-theme-light);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--accent-color);
}
.modal-btn.prices {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
.social-hero-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--secondary-text-color-theme-light);
}
.social-hero-link:hover,
.social-hero-link:focus {
  color: var(--accent-color);
}
.overtitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;

  color: var(--text-color-hero-overtitle);
}
.overtitle.light {
  color: var(--secondary-text-color-theme-light);
}
.description {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-dark);
}
.description.light {
  color: var(--primary-text-color-theme-light);
}
.section-title {
  margin-bottom: 20px;

  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;

  color: var(--secondary-text-color-theme-light);
}
.section-title.dark {
  margin-bottom: 44px;
  /* color: var(--secondary-text-color-theme-dark); */
}
/* =======and components======== */
/* =======start header====== */
header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 70px;
}
.nav-list-item:not(:last-child) {
  margin-right: 40px;
}
.nav-list-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;

  /* color: #ffffff; */
}
.contact-number {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  margin-left: auto;
  margin-right: 40px;

  /* color: #FFFFFF; */
}
.nav-list-link:hover,
.nav-list-link:focus,
.contact-number:hover,
.contact-number:focus {
  color: var(--accent-color);
}
/* =========end header======= */

/* =========start hero======= */
.hero-section-location {
  display: flex;
  /* align-items: center; */
}
.hero-left-side {
  margin-right: 30px;
}
.hero-title {
  font-family: var(--secondary-font-family);
  font-weight: 700;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;

  /* color: #ffffff; */
}
/* =========end hero========= */
/* =========start about us======= */
.about-us {
  display: flex;
  align-items: center;
}
.about-us-list {
  display: flex;
}
.about-us-item {
  margin-right: 30px;
}
.content-about-us {
  margin-left: 64px;
}
.text-description {
  margin-bottom: 40px;
  max-width: 480px;

  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-light);
}
.description.about-us {
  margin-bottom: 20px;
}
/* =========end about us========= */
/* =========start prices section======= */
.price-one-list,
.price-two-list {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-dark);
}
.price-boxes {
  display: flex;
  /* align-items: center; */
}
.price-one-list,
.price-two-list {
  padding: 30px 40px;
  margin-bottom: 50px;
}
.price-one-list-item {
  display: flex;
}
.price-two-list-item {
  display: flex;
}
/* =========end prices section========= */
/* =========start differences section======== */
.differences-container {
  display: flex;
  /* justify-content: space-between; */
}
.differences-left-side {
  margin-right: 130px;
}
.differences-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 370px;
  /* margin: 0 auto; */
}
.differences-list-item {
  width: 170px;
  min-height: 134px;
  padding: 20px;

  background: #f7f7f7;
}
.differences-list-item:nth-child(even) {
  margin-top: 30px;
}
.number-differences {
  margin-bottom: 6px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;

  color: var(--secondary-text-color-theme-light);
}
.defferences-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;

  color: var(--secondary-text-color-theme-light);
}
.section-title.defferences {
  max-width: 480px;
}
.description.defferences {
  max-width: 480px;
}
/* =========end differences section========== */
/* =========start our masters section======== */
.our-masters-section {
  background-color: var(--secondary-background-color);
}
.masters-list {
  display: flex;
  flex-basis: calc((100% - 90px) / 3);
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.masters-list h3 {
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;

  color: var(--secondary-text-color-theme-light);
}
.masters-list-item {
  margin-left: 30px;
  margin-top: 30px;
}
.masters-list-item-content {
  padding-top: 30px;
}
.master-position {
  font-size: 14px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
.section-title.masters {
  margin-bottom: 44px;
}
/* =========end our masters section========== */
/* =========start galery section========= */
.overtitle.galery {
  margin-bottom: 44px;
}
.galery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.galery-list-item {
  margin-left: 30px;
  margin-top: 30px;
}
/* ==========end galery section=========== */
/* ==========start contacts========== */
.contacts {
  display: flex;
}
.online-form {
  min-width: 600px;
}
.contacts-section {
  padding-left: 100px;
}
.address-list-item:not(:last-child) {
  margin-bottom: 20px;
}
.address-list-item:last-child {
  margin-bottom: 70px;
}
/* =========start contacts section=========== */
.address-link {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-dark);
}
.time-work {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: var(--primary-text-color-theme-dark);
}
.overtitle.time {
  margin-bottom: 20px;
}
/* =========end contacts section============= */
/* ==========start footer==================== */
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  color: var(--primary-text-color-theme-dark);
}
/* ===========end footer===================== */
